<footer class="page-footer">
  <div class="page-footer-content">
    <section class="footer-links">
      <p>Links:</p>
      <ul class="footer-links-list">
        <li><a href="https://gumroad.com/kaktak" target="_blank">Plugins</a></li>
        <li><a href="https://patreon.com/kaktak" target="_blank">Patreon</a></li>
        <li><a href="https://twitter.com/vasiliyfilileev/" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/vasiliyfilileev/" target="_blank">Instagram</a></li>
      </ul>
    </section>
    <section class="footer-copyrights">
      <span>&copy;2020 KAKTAK</span>
    </section>
  </div>
</footer>