<!doctype html>
<html lang="ru" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link sizes="32x32" href="{{site.baseurl}}/assets/favicon_32.png" rel="icon" type="image/png">
    <link sizes="64x64" href="{{site.baseurl}}/assets/favicon_64.png" rel="icon" type="image/png">
    <link sizes="128x128" href="{{site.baseurl}}/assets/favicon_128.png" rel="icon" type="image/png">
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  
    <script>document.documentElement.classList.remove('no-js');</script>
  </head>

  <body>

    <div class="page-wrapper">
{% include page-header.html %}

      <div class="page-mid">
{{ content }}
      </div>

{% include page-footer.html %}
    </div>
  
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/app.js" defer></script>
  
  </body>

</html>